/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.rock-header,
.rock-marketing,
.rock-footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.rock-header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.rock-header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.rock-footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .rock-container {
    max-width: 730px;
  }
}
.rock-container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.rock-jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.rock-jumbotron .rock-button {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.rock-marketing {
  margin: 40px 0;
}
.rock-marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .rock-header,
  .rock-marketing,
  .rock-footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .rock-header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .rock-jumbotron {
    border-bottom: 0;
  }
}
